body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 4px;
  font-size: 14px;
}

.app__row {
  align-items: flex-end;
}

.app__row,
.app__table-row,
.table-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

input,
.app__btn {
  height: 44px;
}